@import "../CSS/ICONS/_icons.css";
* {
  font-family: Calibri;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: inherit;
}
*::selection {
  background: #F97373;
  color: black;
}

input:focus, input:hover {
  outline: none;
}

a {
  text-decoration: none;
}

span {
  margin: 0 0.5rem;
}

button, input[type=submit] {
  cursor: pointer;
}

select:disabled, select:read-only {
  color: black;
}

body {
  background: #E5E5E5;
}

.Header {
  top: 0;
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100%;
  background: white;
  height: 4.5rem;
  box-shadow: 0 0.1rem 0.5rem #888;
}
.Header__Button {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background: none;
  border: none;
  transition: color 0.2s, transform 0.2s;
}
.Header__Button:hover {
  transform: scale(1.1);
}
.Header__Button span {
  color: #555;
  font-size: 1.5rem;
}
.Header__Button span:hover {
  color: black;
}
.Header__Logo {
  object-fit: contain;
  width: 100%;
}

.Aside {
  position: fixed;
  left: 0;
  top: 4rem;
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: calc(100vh - 5rem);
  padding: 1rem 0 0;
  background: white;
  box-shadow: 0 0.1rem 0.5rem #888;
  transition: transform 0.2s;
}
.Aside__Logo {
  margin: 0 0.5rem;
}
.Aside__Button {
  border: none;
  display: flex;
  align-items: center;
  color: #555;
  font-size: 1.1rem;
  min-height: 2.3rem;
  padding: 0.2rem 1rem;
  background: white;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}
.Aside__Button:hover {
  font-weight: bold;
  color: black;
  background: #E5E5E5;
}
.Aside__Button:hover > span {
  transition: color 0.1s;
  color: #FF2A00;
}
.Aside__Img {
  width: 100%;
  height: 18rem;
  margin-top: auto;
  background: url("../media/Cajas Vertical.jpg");
  background-size: cover;
  background-position: bottom left;
  clip-path: polygon(0 2rem, 100% 0%, 100% 100%, 0% 100%);
}
.Aside__Separator {
  background: #FF2A00;
  height: 2.5rem;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: 23rem;
  box-shadow: 0 0.1rem 0.5rem #888;
  background: white;
}
.Login__Front {
  width: 100%;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 3rem));
  background: url("../media/Cajas.jpeg");
  background-position: bottom left;
  background-size: cover;
}
.Login__Form {
  position: relative;
  top: -1.5rem;
  width: 90%;
  margin: 1rem 0 -1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login__LogoContain {
  width: 100%;
  height: 4.2rem;
  background: white;
  margin: 2rem 0;
}
.Login__Logo {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 4.5rem;
}
.Login__Title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: left;
  align-self: flex-start;
}
.Login__Textfield {
  border: none;
  border-bottom: 0.15rem solid #555;
  transition: border 0.3s;
  font-size: 1.2rem;
  width: 95%;
  padding: 1rem 0 0.5rem;
}
.Login__Textfield:focus, .Login__Textfield:hover {
  border-bottom: 0.2rem solid #FF2A00;
}
.Login__Label {
  font-size: 1.1rem;
  color: #555;
  height: 1rem;
  margin: 0.3rem 0 0;
  padding: 0.3rem;
  align-self: flex-end;
}
.Login__Button {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
  font-size: 1.2rem;
  padding: 0.4rem;
  background: #FF2A00;
  margin: 2rem 0;
  width: 95%;
}
.Login__Button:hover {
  cursor: pointer;
  background: #555;
  color: white;
}

.Section {
  width: calc(100% - 15rem);
  padding: 5rem 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateX(11.5rem);
  transition: transform 0.2s, width 0.2s;
}
.Section__Box, .Section__Box--Mid, .Section__BoxSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0.5rem 0;
  width: calc(100% - 4rem);
  height: 100%;
  background: white;
  box-shadow: 0 0.1rem 0.5rem #888;
  transition: opacity 0.2s;
}
.Section__Box--Mid {
  width: calc(50% - 4.5rem);
  gap: 1rem;
}
.Section__Title {
  font-size: 1.8rem;
}
.Section__Title > span {
  font-size: 1.8rem;
}
.Section__Form {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  width: 95%;
}
.Section__Textfield {
  border: none;
  border-bottom: 0.15rem solid #555;
  transition: border 0.3s;
  font-size: 1.1rem;
  width: 10rem;
  margin: 0.3rem;
  padding: 0.3rem;
}
.Section__Textfield:focus, .Section__Textfield:hover {
  border-color: #FF2A00;
}
.Section__Button, .Section__Button--Mid {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
  font-size: 1.2rem;
  padding: 0.4rem;
  background: #FF2A00;
  margin: 0 1rem;
  width: 6rem;
  text-align: center;
}
.Section__Button:hover, .Section__Button--Mid:hover {
  cursor: pointer;
  background: #555;
  color: white;
}
.Section__Button.Add, .Add.Section__Button--Mid {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
  margin-right: auto;
  background: #F29B1C;
}
.Section__Button.Add:hover, .Add.Section__Button--Mid:hover {
  cursor: pointer;
  background: #555;
  color: white;
}
.Section__Button--Mid {
  margin: 0;
}

.Table {
  width: 90%;
  margin: 1rem 0.5rem;
  padding: 1rem;
  background: #E5E5E5;
  box-shadow: 0 0.1rem 0.5rem #bbb;
}
.Table__Title {
  font-weight: bold;
}
.Table__Info, .Table__Title {
  display: flex;
  justify-content: space-between;
}
.Table__Row, .Table__Row--Mid {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 0.5rem;
}
.Table__Row--Mid {
  grid-template-columns: 4fr 1fr;
  grid-gap: 0;
}
.Table__ID {
  flex-grow: 0.5;
  padding-top: 0.5rem;
}
.Table__Text {
  width: 45%;
  padding-top: 0.5rem;
}
.Table__ButtonBox {
  display: flex;
}
.Table__Button, .Table__Button--Mid {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.2rem;
  width: 6rem;
  background-color: #EFEFEF;
}
.Table__Button:hover, .Table__Button--Mid:hover {
  cursor: pointer;
  background: #555;
  color: white;
}
.Table__Button--Mid {
  width: 3rem;
}

.Modal__Box--Borrar {
  display: flex;
  margin: 20vh auto;
  box-shadow: 0 0.1rem 0.8rem #000;
  flex-direction: column;
  justify-content: center;
  background: white;
  width: 50%;
  height: 12rem;
}
.Modal__Box--Borrar .Modal__ButtonBox {
  margin: 1rem;
  justify-content: center;
}
.Modal__Box--Borrar .Modal__Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0006;
  opacity: 0;
  transition: opacity 0.6s;
}
.Modal__Box, .Modal__BoxSub, .Modal__MiniBox {
  display: flex;
  margin: 20vh auto;
  box-shadow: 0 0.1rem 0.8rem #000;
  width: 65%;
  background: white;
  transition: opacity 0.3s;
}
.Modal__Box#Clientes, .Modal__BoxSub#Clientes, .Modal__MiniBox#Clientes {
  height: 20rem;
  width: 55%;
}
.Modal__Box#Envios, .Modal__BoxSub#Envios, .Modal__MiniBox#Envios {
  height: 23rem;
  width: 85%;
}
.Modal__Box#Lotes, .Modal__BoxSub#Lotes, .Modal__MiniBox#Lotes {
  height: 23rem;
  width: 75%;
}
.Modal__Box#Transportes, .Modal__BoxSub#Transportes, .Modal__MiniBox#Transportes {
  height: 20rem;
  width: 55%;
}
.Modal__Box#Empleados, .Modal__BoxSub#Empleados, .Modal__MiniBox#Empleados {
  height: 21rem;
  width: 60%;
}
.Modal__Box#Usuarios, .Modal__BoxSub#Usuarios, .Modal__MiniBox#Usuarios {
  height: 21rem;
  width: 60%;
}
.Modal__MiniBox {
  padding: 1rem;
  width: 50%;
  height: 12rem;
}
.Modal__MiniBox .Modal__Data {
  align-items: center;
  width: 100%;
  height: 10rem;
}
.Modal__ButtonBox {
  margin: auto 0 0 auto;
  display: flex;
}
.Modal__Data {
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.Modal__Group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-left: 0;
  margin-left: -1rem;
}
.Modal__Group#Lotes {
  width: 25%;
}
.Modal__Table {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  height: 65%;
  overflow: scroll;
  overflow-x: hidden;
}
.Modal__Table > h1 {
  text-align: center;
  grid-column: span 4;
}
.Modal__Table > label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Modal__Row {
  display: grid;
  grid-template-columns: 2rem minmax(3rem, 6rem) 4rem 2rem;
  grid-auto-rows: 1.8rem;
  padding: 0.5rem;
  grid-gap: 0.5rem;
}
.Modal__MiniButton {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
}
.Modal__MiniButton:hover {
  cursor: pointer;
  background: #555;
  color: white;
}
.Modal__MiniButton > span {
  font-size: 0.7rem;
}
.Modal__Title, .Modal__SubTitle {
  font-size: 1.5rem;
  margin: 0.5rem 0 1.5rem;
}
.Modal__Title > span, .Modal__SubTitle > span {
  font-size: 1.5rem;
}
.Modal__SubTitle {
  margin-bottom: 0.5rem;
}
.Modal__Info {
  display: flex;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
.Modal__Text {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}
.Modal__Label {
  font-weight: bold;
}
.Modal__Label, .Modal__Input {
  font-size: 1.1rem;
  margin: 0 0.5rem;
}
.Modal__Input {
  border: none;
  border-bottom: 0.15rem solid #555;
  transition: border 0.3s;
  flex-grow: 1;
  padding-bottom: 0.2rem;
}
.Modal__Input:focus, .Modal__Input:hover {
  border-color: #FF2A00;
}
.Modal__Input[readonly] {
  border-bottom: 0.15rem solid black;
}
.Modal__Input[type=number] {
  width: 4rem;
}
.Modal__Button {
  border: none;
  font-weight: bold;
  transition: color 0.2s, background 0.2s;
  font-size: 1rem;
  padding: 0.5rem;
  background: #FF2A00;
  margin: 0 0.2rem;
  width: 6rem;
  text-align: center;
}
.Modal__Button:hover {
  cursor: pointer;
  background: #555;
  color: white;
}
.Modal__Img {
  background-size: cover;
  background-position: bottom left;
  clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0% 100%);
  width: 50%;
}
.Modal #Clientes .Modal__Img {
  background-image: url("../media/Clientes 2.jpg");
  width: 40%;
}
.Modal #Envios .Modal__Img {
  background-image: url("../media/Envios 1.jpg");
  width: 40%;
}
.Modal #Lotes .Modal__Img {
  background-image: url("../media/Cajas Vertical.jpg");
  width: 45%;
}
.Modal #Transportes .Modal__Img {
  background-image: url("../media/Transporte.jpg");
  background-position: bottom right;
}
.Modal #Empleados .Modal__Img {
  background-image: url("../media/Empleados.jpg");
  width: 40%;
  background-position: bottom right;
}
.Modal #Usuarios .Modal__Img {
  background-image: url("../media/Usuarios.jpg");
  width: 50%;
  background-position: bottom right;
}

/*# sourceMappingURL=main.css.map */
